services:
  postgres:
    image: postgres:16
    container_name: nacoes-postgres
    environment:
      POSTGRES_DB: nacoesagendamentos
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: nacoes
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build:
      context: ./
      dockerfile: Dockerfile.dockerfile
    container_name: nacoes-api
    restart: unless-stopped
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__Postgres=Host=postgres;Database=nacoesagendamentos;Username=postgres;Password=nacoes
      - Ambiente__Tipo=Local
    ports:
      - "5000:8080"
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  postgres-data:
    driver: local
